/* *

body {
  background-color: #2D2A59;
}

/* .carouselslide {
  display: flex;
  object-fit: inherit;
} */
/* images du slide coupées  */
img {
  display: flex;
  align-self: center;
  height: 35%;
  object-fit: cover ;
     
}