@media screen and (min-width:1010px)
{
*
{
    background-color: #2D2A59 ;
}
.darkmode--activated *{
  background-color: rgb(51, 50, 49);
}
/* Carousel images */
h1,h2,h3,p
{
    font-family:'Roboto Slab' , serif ;
}
.audio{
  width: 100px;
  position: absolute;
  left: 50px;
  background-color:transparent;
  isolation: isolate;
}
.darkmode--activated .audio{
  background-color: rgb(201, 206, 204);
}
.imgcarousel
{
  display: flex;
  align-self: center;
  height: 400px;
  width: 100%;
  object-fit: cover ;   
}


#h1andImage{
  display: flex;
  flex-direction: row;
  justify-content: center;
  
}
.darkmode--activated #h1andImage{
  background-color:   rgb(201, 206, 204);
}
#imageMarvel{
  padding-top: 20px;
  height: 45px;
  width: 70px;
  margin-top: 0px;
  background-color: transparent;
}
.darkmode--activated #imageMarvel{
  background-color:  rgb(51, 50, 49);
}
h1 {
  text-shadow: 1px 3px red;
  font-family:'Roboto Slab' , serif ; 
  text-align: center;
  margin-right: 5px;
  isolation: isolate;
}
.darkmode--activated h1{
  background-color:  rgb(51, 50, 49);
}

h1 a{
  text-decoration: none;
  color: white;
  background-color: transparent;
}
.darkmode--activated h1 a{
  background-color:  rgb(51, 50, 49);
}

#navBar{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  background-color: #d59000;
  padding:14px;
  margin-bottom: 0px;
}
.darkmode--activated #navBar{
  background-color: rgb(3, 188, 212);
}


.aList{
  font-family: Roboto Slab; 
  text-decoration: none;
  font-weight: bolder;
  color: white;
  background-color: #d59000;
  padding: 17px;
}
.darkmode--activated .alist{
  background-color: rgb(3, 188, 212);
  color: rgb(46, 46, 46);
  text-shadow: 1px 1px rgb(255, 153, 0)
}


.aList:hover{
  background-color:#2D2A59 ;
  color: white;
  text-shadow: 2px 1px #d56900;
}
.darkmode--activated .alist:hover{
  background-color: rgb(51, 50, 49);
  color: rgb(3, 188, 212);
  text-shadow: 1px 1px rgb(46, 46, 46)
}

#titleChrono
{
    color: white;
    font-family:'Roboto Slab' , serif ;
    text-align: center;
    margin-bottom: 0;
    padding-top: 40px;
    padding-bottom:80px ;
}

#imgAllHeros
{
  display: block;
  margin: auto;
  height: 600px;
  width:90%;
}

h4
{
  padding-bottom:20px ;
  padding-top: 20px;
  text-align: center;
  color: white;
}

#presentationText
{ 
  display: block;
  width: 90%;
  margin-left:auto ;
  margin-right:auto ;
  padding-bottom:40px ;
  font-family:'Roboto Slab' , serif ;
  color: white;
  margin-bottom: 0;
  
}

#imgAllGem
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0;
  position: sticky;
  top:0px;

}

.imgGem
{
  width:65px;
  height:65px;  
}

#selectNbChrono
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top:64px;
  
}
.nbChrono
{
  color: gray;
  font-size:10px;
  width: 65px;
  text-align: center;
  margin-bottom: 0;
}

.rowBandeAnnonce
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top:50px;
    
}

.bandeannonce
{
    height:300px ;
    width: 500px;
    box-shadow:5px 5px 10px black ;
    border:1px black solid ;
    isolation: isolate;

}

.chronoNumber
{
    font-weight: bold;
    color: white;
    line-height:45px ;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 30px auto 10px auto;
    background-color:rgb(110, 6, 102);
    border-style: solid;
    border-color: #d59000;
    border-radius: 50%;
    font-size:x-large;
}
.darkmode--activated .chronoNumber{
  background-color:rgb(3, 188, 212);
  color: black;
  border-color: #d59000;
}

.titleFilmChrono
{
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
#titleFilm10
{
    font-size: 26px;
}


footer 
{
  background-color: #2d2a59;
}
.darkmode--activated footer{
  background-color: rgb(201, 206, 204);
}

.footer-copyright 
{
 
  font-size: 20px;
  background-color: #2d2a59;
 

}

}

@media screen and (max-width:1010px){
  *
{
    background-color: #2D2A59 ;
}
.darkmode--activated *{
  background-color: rgb(51, 50, 49);
}

/* Carousel images */
h1,h2,h3
{
    font-family:'Roboto Slab' , serif ;
}

.imgcarousel
{
  display: flex;
  align-self: center;
  height: 400px;
  width: 100%;
  object-fit: cover ;   
}


#h1andImage
{
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.darkmode--activated #h1andImage{
  background-color:   rgb(201, 206, 204);
}

#imageMarvel
{
  padding-top: 20px;
  height: 45px;
  width: 70px;
}
.darkmode--activated #imageMarvel{
  background-color:  rgb(51, 50, 49);
}
h1 
{
  text-shadow: 1px 3px red;
  font-family:'Roboto Slab' , serif ; 
  text-align: center;
  margin-right: 5px;
  isolation: isolate;
}
.darkmode--activated h1{
  background-color:  rgb(51, 50, 49);
}
h1 a
{
  text-decoration: none;
  color: white;
}
.darkmode--activated h1 a{
  background-color:  rgb(51, 50, 49);
}

#navBar
{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  background-color: #d59000;
  padding:16px;
  margin-top: 0;
  margin-bottom: 0;
  
}
.darkmode--activated #navBar{
  background-color: rgb(3, 188, 212);
}


.aList{
  font-family:'Roboto Slab' , serif ; 
  text-decoration: none;
  color: white;
  background-color: #d59000;
  padding: 16px;
  
}
.darkmode--activated .alist{
  background-color: rgb(3, 188, 212);
  color: rgb(255, 153, 0);
  text-shadow: 1px 1px rgb(46, 46, 46);
}

.aList:hover{
  background-color:#2D2A59 ;
  border-radius:10px 10px 0px 0px;
  text-shadow: 2px 1px #d56900;
}
.darkmode--activated .alist:hover{
  background-color: rgb(51, 50, 49);
  color: rgb(3, 188, 212);
  text-shadow: 1px 1px rgb(46, 46, 46)
}

#titleChrono
{
    color: white;
    font-family:'Roboto Slab' , serif ;
    text-align: center;
    margin-bottom: 0;
    padding-top: 40px;
}

#imgAllHeros
{
  display: block;
  margin: auto;
  height: 400px;
  width:90%;
}

h4
{
  padding-bottom:20px ;
  padding-top: 20px;
  text-align: center;
  color: white;
}

#presentationText
{ 
  display: block;
  width: 90%;
  margin-left:auto ;
  margin-right:auto ;
  padding-bottom:40px ;
  font-family:'Roboto Slab' , serif ;
  color: white;
  margin-bottom: 0;
  
}

#imgAllGem
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 0;
  position: sticky;
  top: 0;

}

.imgGem
{
  width: 60px;
  height:60px ;
  
}

#selectNbChrono
{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: sticky;
  top:60px;
  
}
.nbChrono
{
  color: gray;
  font-size:10px;
  width: 65px;
  text-align: center;
  margin-bottom: 0;
}


.rowBandeAnnonce
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top:50px;
    
}

.bandeannonce
{
    height:300px ;
    width: 500px;
    box-shadow:5px 5px 10px black ;
    border:1px black solid ;
    
}

.chronoNumber
{
    font-weight: bold;
    color: white;
    line-height:45px ;
    text-align: center;
    width: 50px;
    height: 50px;
    margin: 25px auto 10px auto;
    background-color:red;
    border-style: solid;
    border-color: white;
    border-radius: 50%;
    font-size:x-large;
}
.titleFilmChrono
{
    color: white;
    margin-bottom: 20px;
    text-align: center;
}
#titleFilm10
{
    font-size: 26px;
}


footer 
{
  background-color: #2d2a59;
}

.footer-copyright 
{
 
  font-size: 8px;
  background-color: #2d2a59;
 

}

}


