*
{
  background-color: #2D2A59 ; 
}

/* Carousel images */
.imgcarousel{
  display: flex;
  align-self: center;
  height: 400px;
  width: 100%;
  object-fit: cover ;   
}

#h1andImage{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#imageMarvel{
  padding-top: 20px;
  height: 45px;
  width: 70px;
  
}
h1 {
  text-shadow: 1px 3px red;
  font-family:'Roboto Slab' , serif ; 
  text-align: center;
  margin-right: 5px;
}
h1 a{
  text-decoration: none;
  color: white;
}



#navBar{
  list-style-type: none;
  display: flex;
  justify-content: space-around;
  background-color: #d59000;
  padding:16px; margin-bottom: 0;

}



.aList{
  font-family:'Roboto Slab' , serif ; 
  text-decoration: none;
  color: white;
  padding: 16px;
  
}

.aList:hover{
  background-color:#2D2A59 ;
  border-radius:10px 10px 0px 0px;
  text-shadow: 2px 1px #d56900;
}

footer {
  background-color: #2d2a59;
}

.footer-copyright {
 
  font-size: 20px;
  background-color: #2d2a59;
}
.h1-responsive {
margin-bottom: 0;
}

